@use '../../styles/variables.scss' as *;

.team {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .team-container {
    width: 100%;
    padding-top: $space-lg;
    padding-bottom: $space-lg;
    .team-title {
      padding: 0 $mobile-padding;
      margin-bottom: $space-md;
      text-align: center;
    }
  }
  @include smallBreakpoint {
    padding: 0;
    .team-container {
      .team-title {
        padding: 0 $tablet-padding;
        text-align: center;
      }
    }
  }
  @include largeBreakpoint {
    padding: 0;
    .team-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: $space-lg;
      .team-title {
        width: 100%;
        padding: 0 $desktop-padding;
        text-align: left;
      }
    }
  }
  @include xLargeBreakpoint {
    .team-container {
      max-width: calc($max-content-width + 2 * #{$desktop-padding});
    }
  }
}
