@use "../../styles/variables.scss" as *;

.schedule-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .schedule-card-container {
    width: 100%;
    max-width: 380px;
    min-height: 160px;
    border: 2px solid $white;
    // border-image: linear-gradient(to right, $red, $white) 1;
    border-radius: $border-radius-md;
    padding: $space-sm;
    height: 100%;
    p {
      text-align: center;
      text-transform: uppercase;
      font-size: $font-size-base;
      font-weight: $font-weight-semi-bold;
      color: $red;
    }
    ul {
      list-style: none;
      padding: 0;
      margin-top: $space-sm;
      li {
        text-align: center;
        font-size: $font-size-small;
        margin-top: $space-xs;
      }
    }
  }
  @include largeBreakpoint {
    padding: 0;
    align-items: flex-start;
  }

  &.pricing {
    .schedule-card-container {
      max-width: none;
      .legal-text {
        text-transform: none;
        font-size: $font-size-small;
        margin-top: $space-xs;
        text-align: left;
        font-weight: $font-weight-normal;
      }
    }
    @include mediumBreakpoint {
      padding: 0;
      .schedule-card-container {
        padding: $space-md $space-lg;
        p {
          font-size: $font-size-large;
          text-align: left;
        }
        ul {
          list-style: inside;
          li {
            font-size: $font-size-base;
            text-align: left;
          }
        }
      }
    }
  }
}
