@use '../../styles/variables.scss' as *;

.home {
  overflow: hidden;
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;
  .home-container {
    display: flex;
    flex-direction: column;
    gap: $space-lg;
    width: 100%;
    .banner {
      img {
        translate: -$mobile-padding;
        width: calc(100% + 2 * #{$mobile-padding});
      }
    }
    .banner-text {
      p {
      }
    }
  }

  @include smallBreakpoint {
    // padding: 0 $tablet-padding;
    .home-container {
      .banner {
        img {
          translate: -$tablet-padding;
          width: calc(100% + 2 * #{$tablet-padding});
        }
      }
    }
  }
}
