@use '../../styles/variables.scss' as *;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .home-container {
    display: flex;
    flex-direction: column;
    gap: $space-lg;
    width: 100%;
    .banner {
      img {
        width: 100%;
        z-index: -10;
      }
      .banner-text {
        padding-left: $mobile-padding;
        padding-right: $mobile-padding;
      }
    }
  }

  @include smallBreakpoint {
    padding: 0;
    transform: translateY(calc(-1 * (#{$header-mobile-height})));
    .home-container {
      .banner {
        .banner-text {
          padding-left: $tablet-padding;
          padding-right: $tablet-padding;
        }
      }
    }
  }
  @include largeBreakpoint {
    padding: 0;
    transform: translateY(calc(-1 * (#{$header-desktop-height})));
    .home-container {
      .banner {
        .banner-text {
          padding-left: $desktop-padding;
          padding-right: $desktop-padding;
        }
      }
    }
  }

  @include xLargeBreakpoint {
    transform: translateY(0);
    .home-container {
      max-width: $max-content-width;
    }
  }
}
