@use '../../styles/variables.scss' as *;

.location {
  .location-container {
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
    .content {
      display: flex;
      flex-direction: column;
      gap: $space-lg;
      align-items: center;
      justify-content: center;
      height: 100%;
      .address {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        a {
          color: $white;
          text-decoration: none;
          display: flex;
          flex-direction: column;
          width: 100%;
          span {
            width: 100%;
            text-align: center;
          }
          &:hover {
            span {
              text-decoration: underline $red-50;
              font-weight: $font-weight-semi-bold;
            }
          }
        }
        .expeption {
          font-size: $font-size-small;
          span {
            color: $red;
          }
        }
      }
      .map {
        width: 100%;
        max-width: 700px;
        height: 500px;
        border-radius: $border-radius-md;
        border: none;
      }
    }
  }
  @include largeBreakpoint {
    padding: 0;
    .location-container {
      padding-left: $tablet-padding;
      padding-right: $tablet-padding;
      .content {
        .address {
          height: 100%;
          a {
            span {
              text-align: left;
            }
          }
        }
      }
    }
  }
  @include largeBreakpoint {
    padding: 0;
    .location-container {
      padding-left: $desktop-padding;
      padding-right: $desktop-padding;
      .content {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: $space-lg;
        .address {
          order: 2;
          margin-top: auto;
          margin-bottom: auto;
        }
      }
    }
  }
}
