@use '../../styles/variables.scss' as *;

.location {
  .location-container {
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
    .content {
      .address {
        width: auto;
        a {
          color: $white;
          text-decoration: none;
          // display: inline-flex;
          display: flex;
          flex-direction: column;

          span {
            display: flex;
          }
          &:hover {
            span {
              text-decoration: underline $red-50;
              font-weight: $font-weight-semi-bold;
            }
          }
        }
        .expeption {
          font-size: $font-size-small;
          span {
            color: $red;
          }
        }
      }
    }
  }
  @include largeBreakpoint {
    padding: 0;
    .location-container {
      padding-left: $tablet-padding;
      padding-right: $tablet-padding;
    }
  }
  @include largeBreakpoint {
    padding: 0;
    .location-container {
      padding-left: $desktop-padding;
      padding-right: $desktop-padding;
      .content {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: $space-lg;
        .address {
          order: 2;
          margin-top: auto;
          margin-bottom: auto;
        }
      }
    }
  }
}
