@use '../../styles/variables.scss' as *;

.divider-left {
  background: $gradient-red-black-45;
}
.divider-right {
  background: $gradient-black-red-45;
}
.divider-left,
.divider-right {
  height: 0.5px;
  width: 100%;
  &.team {
    z-index: 300;
    margin: $space-md 0;
  }
  @include smallBreakpoint {
    padding: 0;
    &.team {
      margin: $space-lg 0;
    }
  }
  @include largeBreakpoint {
    padding: 0;
    &.team {
      margin: $space-xl 0;
    }
  }
}

// @keyframes gradientGlow {
//   0% {
//     background: linear-gradient(
//       to left,
//       rgba(221, 65, 80, 0.45),
//       rgba(9, 9, 9, 0.45)
//     );
//   }
//   50% {
//     background: linear-gradient(
//       to left,
//       rgba(9, 9, 9, 0.45),
//       rgba(221, 65, 80, 0.45),
//       rgba(9, 9, 9, 0.45)
//     );
//   }
//   100% {
//     background: linear-gradient(
//       to left,
//       rgba(221, 65, 80, 0.45),
//       rgba(9, 9, 9, 0.45)
//     );
//   }
// }

// @keyframes gradientWalk {
//   0% {
//     background-position: 0% 50%;
//   }
//   100% {
//     background-position: 100% 50%;
//   }
// }
