@use '../../styles/variables.scss' as *;

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 $mobile-padding;
  background-color: $white;
  background: $header-gradient;
  position: relative;
  width: 100vw;
  max-width: 100%;
  border-bottom: 0.5px solid $white;
  z-index: 100;
  // border-image: linear-gradient(to right, $red, $background-black) 0 0 1 0;
  border-image: $gradient-red-white-15 0 0 1 0;
  &:hover {
    background: $matte-black-90;
  }
  .navbar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    .mobile-show {
      width: 100%;
      height: $header-mobile-height;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        width: 3.5rem;
      }
      .navbar-toggler {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: $white;
        border-radius: $border-radius-md;
        width: 2.3rem;
        height: 2.3rem;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: $space-sm;
        font-size: $font-size-large;
        .close {
          display: inline-block;
        }
        .hamburger {
          display: none;
        }
        &.collapsed {
          .close {
            display: none;
          }
          .hamburger {
            display: inline-block;
          }
        }
        &:focus {
          outline: 1px solid $red;
        }
      }
    }
    .nav-links-container {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 10;
      background-color: $matte-black-90;
      width: 100%;
      box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.1);
      &.collapsed {
        display: none;
      }
      padding-bottom: 20px;
      .links {
        display: flex;
        flex-direction: column;
        gap: 20px;
        // width: 100%;
        .link {
          color: $white;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: $font-weight-normal;
          font-size: $font-size-small;
          // width: auto;
          text-align: center;
          font-family: $font-oswald;

          // Apply transition to color and border properties
          transition: color 0.3s ease,
            border-bottom-color $transition-medium ease-in-out;
          &:hover {
            color: $red;
            cursor: pointer;
            border-bottom: 1px solid $red;
            border-image: linear-gradient(to right, $red, $background-black) 0 0
              1 0;
          }
        }
      }
    }
  }

  @include smallBreakpoint {
  }

  @include largeBreakpoint {
    .navbar-container {
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      .mobile-show {
        height: $header-desktop-height;
        .logo {
          width: 4.5rem;
        }
        .navbar-toggler {
          display: none;
        }
      }
      .nav-links-container,
      .nav-links-container.collapsed {
        background-color: transparent;
        display: flex;
        position: static;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 0;
        box-shadow: none;
        .links {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 50px;
        }
      }
    }
  }

  @include xLargeBreakpoint {
    .navbar-container {
      max-width: $max-content-width;
    }
  }
}
