@use '../../styles/variables.scss' as *;

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-top: 5px;
  gap: 15px;
  .carousel-container {
    display: flex;
    min-height: 210px;
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: auto;
      display: none;
      opacity: 0;
      animation: showUp 0.5s ease-in-out forwards;
      &.active {
        opacity: 1;
        display: block;
      }
    }
  }
}

@keyframes showUp {
  from {
    opacity: 0;
    // transform: translateY(20px);
  }
  to {
    opacity: 1;
    // transform: translateY(0);
  }
}
