@use "../../styles/variables.scss" as *;

.img-text-session {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  &.team {
    .img-text-session-container {
      .section-title {
        display: none;
      }
    }
  }
  .img-text-session-container {
    width: 100%;
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
    .content-container {
      display: flex;
      flex-direction: column;
      gap: $space-md;
      .img-container {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .text-container {
        p {
          margin-top: $space-sm;
        }
      }
    }
  }
  &.pricing {
    .img-text-session-container {
      .img-container {
        img {
          border-radius: $border-radius-md;
        }
      }
    }
  }
  @include smallBreakpoint {
    padding: 0;
    .img-text-session-container {
      padding-left: $tablet-padding;
      padding-right: $tablet-padding;
    }
  }

  @include largeBreakpoint {
    padding: 0;
    .img-text-session-container {
      padding-left: $desktop-padding;
      padding-right: $desktop-padding;
      .section-title {
        text-align: left;
      }
      .content-container {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: $space-lg;
        .text-container {
          p {
            margin-top: auto;
            margin-bottom: auto;
          }
        }
        .img-container {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 100%;
          }
        }
      }
      &.img-right {
        .section-title {
          text-align: right;
        }
        .content-container {
          grid-template-columns: 2fr 3fr;

          .img-container {
            order: 2;
          }
          .text-container {
            p {
              order: 1;
            }
          }
        }
      }
    }
    &.team {
      .img-text-session-container {
        .content-container {
          grid-template-columns: 2fr 3fr;
        }
        &.img-right {
          .content-container {
            grid-template-columns: 3fr 2fr;
          }
        }
      }
    }
    &.pricing {
      .img-text-session-container {
        .content-container {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }

  @include xLargeBreakpoint {
    &.pricing {
      padding-left: 0;
      padding-right: 0;
      .img-text-session-container {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
