@use '../../styles/variables.scss' as *;

.footer {
  // background-color: $black;
  background: $header-gradient;
  height: $mobile-footer-height;
  color: $white;
  margin-top: $space-lg;
  border-top: 0.5px solid $white;
  border-image: linear-gradient(to right, $red, $background-black) 1 0 0 0;
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: $space-sm;
    p {
      font-size: 10px;
    }
  }
}
