@use '../../styles/variables.scss' as *;

.footer {
  background: $header-gradient;
  height: $mobile-footer-height;
  color: $white;
  margin-top: $space-lg;
  border-top: 0.5px solid $white;
  border-image: linear-gradient(to right, $red, $background-black) 1 0 0 0;
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: $space-sm;
    .social {
      display: flex;
      gap: $space-lg;
      margin: $space-sm 0;
      a {
        color: $white; // Default color
        transition: color 0.3s ease; // Smooth transition for hover effect
        font-size: $font-size-base;
        a:hover {
          transform: scale(1.1); // Slightly enlarge the icon
        }
        &.instagram {
          &:hover {
            color: #e4405f; // Instagram's pinkish-purple
          }
        }
        &.facebook {
          &:hover {
            color: #1877f2; // Facebook's blue
          }
        }

        &.email {
          &:hover {
            color: #007aff; // Gmail red (or a custom email color)
          }
        }
      }
    }
    p {
      font-size: 10px;
    }
  }
}
