@use '../src/styles/variables.scss' as *;
.App {
  width: 100% !important;
  // background-color: $background-black;
  background: $background-gradient;
  // linear-gradient(to right, $background-black, $red);
  font-family: $font;
  color: $white;
  h1 {
    font-size: $font-size-h2;
    padding-bottom: $space-sm;
    text-align: center;
    font-family: $font-oswald;
    font-weight: $font-weight-semi-bold;
  }

  h2 {
    font-size: $font-size-base;
    padding-bottom: $space-sm;
    font-family: $font-oswald;
    font-weight: $font-weight-semi-bold;
    text-align: center;
  }

  p,
  a,
  button,
  input,
  textarea,
  span,
  li {
    font-size: $font-size-small;
  }
  p {
    line-height: 1.8;
  }

  @include mediumBreakpoint {
    h1 {
      font-size: $font-size-h1;
    }

    h2 {
      font-size: $font-size-h2;
    }

    p,
    a,
    button,
    input,
    textarea,
    span,
    li {
      font-size: $font-size-base;
    }
  }

  @include largeBreakpoint {
    padding: 0;
    h1 {
      font-size: $font-size-h1;
      padding-top: $space-lg;
      padding-bottom: $space-md;
      text-align: left;
    }

    h2 {
      font-size: $font-size-h2;
      padding-top: $space-md;
      padding-bottom: $space-md;
      text-align: left;
    }

    p,
    a,
    li,
    button,
    input,
    textarea,
    span {
      font-size: $font-size-base;
    }
  }
}

#map {
  border-radius: $border-radius-md;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
  // color: $white;
}
button.custom-zoom-button,
button.custom-zoom-button {
  border: none;
  background-color: $white;
  width: $space-lg;
  height: $space-lg;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: $font-size-large;
  color: $black;
  padding: $space-sm;
  border: 0.5px solid $background-black;
  border-radius: $border-radius-md;
  transition: background-color 0.3s ease;
}
